<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativear">

  <application>
    <activity
      android:name=".dummyActivity.DummyActivity"
      android:exported="false">
      <meta-data
        android:name="android.app.lib_name"
        android:value="" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.ALTERNATIVE" />
      </intent-filter>
    </activity>
  </application>

</manifest>
